{% extends "base.html" %}


{% block title %}
<title>TheBaton - {{ article_post.title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost.css') }}">

{% endblock %}
{% block content %}
    <!-- Start: Article Clean -->
    <section class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <!-- Start: Intro -->
                    <div class="text-center intro">
                        <h1 class="text-center">{{ article_post.title }}</h1><!-- Start: Date and Author -->
                        <p class="text-center"><span class="by">by</span> <a href="#">{{ article_post.author.name }}</a><!--<span class="date">{{ article_post.date_modified }}</span></p>--><!-- End: Date and Author --><img class="img-fluid" src="https://picsum.photos/1440/900">
                    </div><!-- End: Intro -->
                    <!-- Start: Text -->
                    <div class="text">

                        {% block blogpost %}
                        {% endblock blogpost %}
            
                    </div><!-- End: Text -->
                </div>
            </div>
        </div>
    </section><!-- End: Article Clean -->

{% endblock content%}