{% extends "base.html" %}


{% block title %}
<title>TheBaton - {{ article_post.title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost.css') }}">

{% endblock %}
{% block content %}
<header class="masthead" style="background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://picsum.photos/1440/900');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1><strong>{{ article_post.title }}</strong></h1>
                    <h2 class="subheading">{{ article_post.sub_title }}</h2><span class="meta">Posted by&nbsp;<a href="#">{{ article_post.author.name }}</a>&nbsp;on {{ article_post.date_posted.strftime('%d %B %Y') }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto" style="font-family: Montserrat, sans-serif;text-align: justify;">
                {% block blogpost %}
                {% endblock blogpost %}
            </div>
        </div>
    </div>
</article>

{% endblock content%}