{% extends "base.html" %}


{% block title %}
<title>TheBaton - Home</title>
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}


{% block content %}
<header class="cont-slider">
    <section class="slider">
        <article class="slide one"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div></article><!--
        --><article class="slide two"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div></article><!--
        --><article class="slide three"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consec.</h2>
        </div></article><!--
        --><article class="slide four"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div></article><!--
        --><article class="slide five"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div></article>
    </section>
    </header>
    <header class="recart">
        <section class="recart-text">
            <h1>RECENT ARTICLES</h1>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor.</h2>
        </section>
        <section class="recart-grid">
            <article class="recart-element">
                <img src="https://i.picsum.photos/id/440/400/225.jpg?hmac=aQtMdhQtx2JE622q0TktKJx7im7nMkHXNy7s2rMJ-GY" alt="article thumbnail">
                <div class="container">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione quo.</p>
                </div>
            </article>
            <article class="recart-element">
                <img src="https://i.picsum.photos/id/440/400/225.jpg?hmac=aQtMdhQtx2JE622q0TktKJx7im7nMkHXNy7s2rMJ-GY" alt="article thumbnail">
                <div class="container">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione quo.</p>
                </div>
            </article>
            <article class="recart-element">
                <img src="https://i.picsum.photos/id/440/400/225.jpg?hmac=aQtMdhQtx2JE622q0TktKJx7im7nMkHXNy7s2rMJ-GY" alt="article thumbnail">
                <div class="container">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione quo.</p>
                </div>
            </article>
            <article class="recart-element">
                <img src="https://i.picsum.photos/id/440/400/225.jpg?hmac=aQtMdhQtx2JE622q0TktKJx7im7nMkHXNy7s2rMJ-GY" alt="article thumbnail">
                <div class="container">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione quo.</p>
                </div>
            </article>
            <article class="recart-element">
                <img src="https://i.picsum.photos/id/440/400/225.jpg?hmac=aQtMdhQtx2JE622q0TktKJx7im7nMkHXNy7s2rMJ-GY" alt="article thumbnail">
                <div class="container">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione quo.</p>
                </div>
            </article>
            <article class="recart-element">
                <img src="https://i.picsum.photos/id/440/400/225.jpg?hmac=aQtMdhQtx2JE622q0TktKJx7im7nMkHXNy7s2rMJ-GY" alt="article thumbnail">
                <div class="container">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione quo.</p>
                </div>
            </article>
        </section>
        <section class="recart-btn">
            <button><a href="/articles"> READ MORE</a></button>
        </section>
</header>
{% endblock %}