{% extends "base.html" %}


{% block title %}
<title>TheBaton - Home</title>
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}


{% block content %}
<header class="cont-slider">
    <section class="slider">
        <article class="slide one"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div></article><!--
        --><article class="slide two"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div></article><!--
        --><article class="slide three"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consec.</h2>
        </div></article><!--
        --><article class="slide four"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div></article><!--
        --><article class="slide five"><div class="overlay-text">
            <h1>Lorem ipsum dolor sit amet.</h1><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        </div></article>
    </section>
</header>
{% endblock %}