.hero-body {
    font-family: "Montserrat";
}

.cont-slider {
    position: relative;
    overflow: hidden;
    height: auto;
    max-height: 100vh;
    min-width: 100vw;
    aspect-ratio: 16/9;
}

.cont-slider .overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Montserrat", sans-serif;
    margin-inline-start: 1.5rem;
    margin-inline-end: 15vw;
    position: absolute;
    bottom: 1.5rem;
}
.overlay-text wrapper {
    height: 100%;
}
.overlay-text h1 {
    font-size: 1rem;
    color: var(--clr-light-primary);
    padding-block-end: 0.4rem;
}

.overlay-text h2 {
    font-weight: 500;
    font-style: italic;
    font-size: 0.7rem;
    margin-inline-end: 0%;
    color: var(--clr-light-secondary)
}

.cont-slider .slider {
    position: absolute;
    width: 500%;
    animation: sliding 25s ease-in-out 0s backwards infinite;
}

.cont-slider .slide {
    display: inline-block;
    position: relative;
    background-size: cover;
    min-inline-size: 100vw;
    aspect-ratio: 16/9;
}

.one {
    background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)), 
        url(https://farm9.staticflickr.com/6183/6025120829_4d582707f7_z.jpg);
}

.two {
    background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)), 
        url(http://farm9.staticflickr.com/8064/8179351735_c8c069dc61_z.jpg);
}

.three {
    background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)), 
        url(http://farm9.staticflickr.com/8061/8188068610_70eda46a1f_z.jpg);
}

.four {
    background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)), 
        url(http://farm9.staticflickr.com/242/535485602_9328a91e65_z.jpg);
}

.five {
    background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)), 
        url(http://farm9.staticflickr.com/8488/8175350378_a97be42263_z.jpg);
}


@keyframes sliding {
  0% {left: 0%; }
  15% {left: 0%; }
  20% {left: -100%; }
  35% {left: -100%; }
  40% {left: -200%; }  
  55% {left: -200%; }
  60% {left: -300%; }
  75% {left: -300%; }
  80% {left: -400%; }
  95% {left: -400%; }   
  100% {left: 0; }
}

.recart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: clamp(25px,10vw,100px);
    
}

.recart-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
    padding-block-end: 2vw;
    padding-inline: 10vw;
    text-align: center;
    
}

.recart-text h1{
    
    font-size: 1.3125rem;
    font-weight: 500;
    letter-spacing: 1rem;
    text-indent: 0.5rem; /* to maintain center alignment */

}

.recart-text h2 {
    
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5rem;
}

.recart-grid {
    
    display: grid;
    grid-gap: 5vw;
    padding-block: 3em;
    padding-inline: 5vw;
    grid-template-columns: repeat(2,1fr);
}

.recart-element {
    background-color: var(--clr-light-primary);
    border-radius: 0.3em;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.07);
    transition: all 0.3s ease-in-out;
}
.recart-element:hover {
    transform: scale(1.1,1.1);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.07);
}
.recart-element img {
    width: 100%;
}

.recart-element .container {
    padding-inline: clamp(0.2rem,5vw,1.4rem);
    padding-block: clamp(0.2rem,5vw,1rem);
}

.recart-element h3 {
    font-weight: 700;
    color: var(--clr-primary-red);
    font-size: 0.9rem;
    padding-block-end: 0.7rem;
}

.recart-element p {
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1rem;
}
.recart-btn {
    overflow: hidden;
    background: transparent;
    box-shad/ow: 5px 5px 20px rgba(0,0,0,0.1)
}

.recart-btn button{
    overflow: hidden;
    border: none;
    padding-block: 1rem;
    border-radius: 1em;
    background-color: var(--clr-primary-red);
    transition: all 0.3s ease-in-out;

}

.recart-btn button:hover {
    background-color: var(--clr-light-primary);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1) inset;
}



.recart-btn a{
    overflow: hidden;
    font-family: "Montserrat";
    text-decoration: none;
    color: var(--clr-light-primary);
    padding: 2rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.2s 0.1s;
}

.recart-btn a:hover{
    color: var(--clr-primary-red);
}



@media only screen and (min-width: 600px) {
    .recart-grid{
        grid-column-gap: 5vw;
        padding-inline: 10vw;
        grid-row-gap: 3em;
        
    }
    
    .recart-element .container {

    }
}

@media only screen and (min-width: 768px) {
    .cont-slider {
        aspect-ratio: 32/13;
    }
    .cont-slider .slide {
        aspect-ratio: 32/13;
    }
    .cont-slider .overlay-text {
        bottom: 2rem;
         margin-inline-end: 30vw;
    }
    .overlay-text h1 {
        font-size: 3.2vw;
    }
    .overlay-text h2 {
        font-size: 1.5vw;
    }
    .recart-grid {
        grid-template-columns: repeat(3,1fr);
    }

}

@media only screen and (min-width: 1024px) {
    .recart-grid{
        grid-column-gap: 5vw;
        padding-inline: 15vw;
    }
    .recart-element .container {
        padding-inline: clamp(0.2rem,5vw,2rem);
        padding-block: clamp(0.2rem,5vw,1.7rem);
    }
}

@media only screen and (min-width: 1366px) {

    .cont-slider .overlay-text {
        bottom: 4rem;
    }
   
    
    .recart-element .container {

    }

}